#bodywrapper{
	margin: 20px;
}

#headerwrapper{
	background-color: lightgrey;
	padding: 15px;
	min-height: 65px;
}

#mainwrapper{
	min-height: 400px;
}

#footerwrapper{
	text-align: center;
	font-size:10px
}

#loginbox{
	float: right;
}

a {
	text-decoration:none;
	color: green; 
}

a:hover{
	color: blue;
}

h1, h2, h3{
	color: green;
	padding: 10px;
}

h1{
	display: inline; 
}

h2{
	background-color: lightgray;
}

h3{
	background-color: #EEEEEE;
}

tr.tablename{
	background-color: lightgray;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 20;
}

tr.tableheaderrow{
	background-color: #888888;
	color: white;
	font-weight: bold;
}

td.colsmall{
	width: 100px;
}

td.colmedium{
	width: 200px;
}

td.collarge{
	width: 300px;
}

input.insmall{
	width: 100px;
}

input.inmedium{
	width: 200px;
}

input.inlarge{
	width: 300px;
}
