
/* Set all of the colors */

/* The background color of the page */
body{
	background-color: #ffffdd;
}

/* The heading background color */
#headerwrapper{
	background-color: #888877;
}

#headerwrapper a{
	color: #ffffdd;
}

#headerwrapper a:hover{
	color: white;
}

/* The color of the links */
a{
	color: #556644;
}

/* The color of the links on the table */
tr.rowTypeA a, tr.rowTypeB a {
	color: #A80000;
}

/* The color of the links on the table */
tr.rowTypeA a:hover, tr.rowTypeB a:hover{
	color: #FF0000;
}

/* The table header background */
tr.tablename, tr.tableheaderrow{
	background-color: #556644;
}

/* The heading text color */
h2, h3, h4 {
	color: #556644;
}

/* The table header text */
tr.tablename, tr.tableheaderrow{
	color: #ffffcc;
}

/* Row Type A Background */
tr.rowTypeA{
	background-color: #88aa66;
}

/* Row Type B Background */
tr.rowTypeB{
	background-color: #aabb77;
}

/* The text color */
tr.rowTypeA, tr.rowTypeB, a:hover{
	color: black;
}



/* Everything else... */
#bodywrapper{
	margin: 20px;
}

#headerwrapper{
	padding: 15px;
	min-height: 65px;
}

#headerwrapper a{
	text-decoration:none;
}

#mainwrapper{
	min-height: 400px;
}

#footerwrapper{
	text-align: center;
	font-size:10px
}

#loginbox{
	float: right;
}

a {
	text-decoration:none;
}

a img {
	border: none;
}

h1{
	display: inline; 
}

tr.tablename{
	text-align: center;
	font-weight: bold;
	font-size: 20;
}

tr.tableheaderrow{
	font-weight: bold;
}

td.colsmall{
	width: 100px;
}

td.colmedium{
	width: 200px;
}

td.collarge{
	width: 300px;
}

input.insmall{
	width: 100px;
}

input.inmedium{
	width: 200px;
}

input.inlarge{
	width: 300px;
}
